<div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 bg-white">
        <div class="media align-items-center profile-header">
            <div class="profile mr-3"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="..." width="130" class="rounded-circle mb-2 img-thumbnail" data-holder-rendered="true"><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a>
            </div>
            <div class="media-body mb-5 text-white">
                <h4 class="mt-0 mb-0">Manuella Tarly</h4>
                <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>Pune</p>
            </div>
        </div>
    </div>
<mat-tab-group>
    <mat-tab label="First">View 1</mat-tab>
    <mat-tab label="Second">View 2</mat-tab>
    <mat-tab label="Third">View 3</mat-tab>
  </mat-tab-group>
