


form{
    text-align: left;
    margin-top:20px;
}
.form-fields {
    display: table;
  }
  
  .form-field {
    display: table-row;
    
   
  }
  
  .form-field-label,
  .form-field-control,
  .form-field-comment {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid black;
    width: 50%;
  }