div
{
    align-content: center;
}
input
{
    width:500px;
    padding: 12px 20px;
    margin:8px 0px;
    box-sizing: border-box;
    border:2px solid red;
    border-radius: 3px;

}
body{
    background-color: lightblue;
    text-align: center;
}
form{
    display: inline-block;
}
h1
{
    color:lightcoral;
}
h3{
    font-weight: bold;
    color: magenta;
}